
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*Franja superior morada */
.franjaSup {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #ae6bcb;
    padding: 10px 40px 10px 20px;
    
}

/* Acomodar logo*/
.areaLogo {
    display: flex;
    align-items: center;
}


/* Separa las cajas de Iniciar sesión y registro */
.separarCajas {
    display: flex;
    align-items: center;
    gap: 10px; 
}

/* Estilo para las cajas de texto */
.cajasTexto {
    display: inline-block; 
    padding: 8px 15px;
    border-radius: 20px; 
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    user-select: none; 
    text-decoration: none;
}

/*Iniciar Sesión*/
.cajaIniciarSesion {
    color: rgb(75, 15, 91); 
    background-color: #f3d2ff; 
    border: 2px solid rgb(75, 15, 91); 
}

/*Registro*/
.cajaRegistro {
    color: #f3d2ff; 
    background-color: rgb(75, 15, 91); 
    border: 2px solid #f3d2ff; 
}

/*Acomoda el StackACADEMY y el objetivo*/
.StackAcademy-Objetivo {
    display: flex; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
}

/*Estilo para objetivo*/
.objetivo {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2.0em;
    color: rgb(75, 15, 91);
    text-align:center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;    
    background-color: #f3d2ff;
    border: 3px solid rgb(75, 15, 91);
    border-radius: 50px;
}


